{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>FDC ID</th>
                            <th>Name</th>
                            <th>Calories (kCal)</th>
                            <th>Carbs (g)</th>
                            <th>Fat (g)</th>
                            <th>Protein (g)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td>{{ ingredient.fdc_id }}</td>
                            <td><a href="{{ url_for('ingredient.view_ingredient', ingredient_id=ingredient.id) }}">{{ ingredient.name }}</a></td>
                            <td>{{ ingredient.calories }}</td>
                            <td>{{ ingredient.carbs }}</td>
                            <td>{{ ingredient.fat }}</td>
                            <td>{{ ingredient.protein }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}