<html lang="en">
    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% if title %}
        <title>{{ title }} - Meal Manager</title>
        {% else %}
        <title>Meal Manager</title>
        {% endif %}
    </head>
    {% endblock %}
    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">Meal Manager</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_anonymous %}
                            <li class="nav-item"><a class='nav-link' href="{{ url_for('authentication.login') }}">Login</a></li>
                            <li class="nav-item"><a class='nav-link' href="{{ url_for('authentication.register') }}">Register</a></li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Ingredient<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('ingredient.add_ingredient') }}">Add Ingredient</a>
                                    <a class="dropdown-item" href="{{ url_for('ingredient.view_ingredients') }}">View Ingredients</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Recipe<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ url_for('recipe.add_recipe') }}">Add Recipe</a>
                                    <a class="dropdown-item" href="{{ url_for('recipe.view_recipes') }}">View Recipes</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">User<span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <a class='dropdown-item' href="{{ url_for('main.view_user', user_id=current_user.id) }}">Profile</a>
                                    <a class='dropdown-item' href="{{ url_for('main.view_users') }}">View Users</a>
                                </div>
                            </li>
                            <li class="nav-item"><a class='nav-link' href="{{ url_for('authentication.logout') }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}

        {% block content %}
        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            {% block app_content %}{% endblock %}
        </div>
        {% endblock %}

        {% block scripts %}
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>